# ==============================
# DND Boutique - Variables de entorno
# NUNCA subas este archivo a GitHub
# ==============================

# WhatsApp / Meta
WHATSAPP_TOKEN=TU_TOKEN_AQUI
WHATSAPP_PHONE_NUMBER_ID=1005186782689308
WHATSAPP_VERIFY_TOKEN=dndtoken2026
WHATSAPP_APP_ID=1302534461971101

# Anthropic Claude AI
ANTHROPIC_API_KEY=TU_API_KEY_DE_CLAUDE_AQUI

# Servidor
PORT=3000
